.cardContainer {
  height: 53vh;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}
.topCardWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1.5px solid #ccc;
}
.topCardTitle {
  font-size: 24px;
  font-weight: 700;
}
.bottomCardWrapper {
  height: 85%;
  overflow: hidden;
}
