.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 150px;
  background-color: #fff;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.descrContainer {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 24px;
}
