.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.supplierEditButton {
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .searchWrapper {
    width: 100%;
  }
}
