.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.supplierEditButton {
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.trashButton {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--primary-color);
}

.trashButton:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .searchWrapper {
    width: 100%;
  }
}
