.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  padding: 10px 20px 10px 40px;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  font-size: 16px;
}

.input::placeholder {
  color: var(--primary-color);
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--primary-color);
  pointer-events: none;
}

@media screen and (max-width: 425px) {
  .inputWrapper {
    width: 100%;
  }
  .input {
    width: 100%;
  }
}
