.productsList {
  margin: 0 auto;
  max-width: 80%;
}
.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  color: gray;
  border-radius: 3px;
}
