.container {
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #333;
}
.hamburgerBtn {
  font-size: xx-large;
  stroke: #333333;
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  margin-left: auto;
}
