.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.closeSidebarBtn {
  font-size: x-large;
  position: absolute;
  top: 5px;
  right: 5px;
}
.topBar {
  height: 60px;
  background-color: rgb(5, 201, 201);
  padding: 10px;
}
.sidebarTitle {
  font-size: large;
}
.navWrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navMainLinks {
  display: block;
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  font-size: large;
  color: cadetblue;
}
.navSubLink {
  display: block;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 20px;
  font-size: medium;
  color: cadetblue;
}
