.sidebarMobile {
  width: 200px;
  height: 100vh;
  background-color: rgb(235, 233, 233);
  border-right: 2px solid #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.sidebar {
  width: 360px;
  height: 100vh;
  background-color: transparent;
  border-right: 2px solid #333;
  top: 0;
  left: 0;
  z-index: 5;
}
.closeSidebarBtn {
  font-size: x-large;
  position: absolute;
  cursor: pointer;
  color: #333;
  top: 20px;
  right: 5px;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  padding: 10px;
}
.sidebarTitle {
  font-size: large;
}
.navWrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navMainLinks {
  display: block;
  text-decoration: none;
  /* background-color: #fff; */
  padding: 10px;
  font-size: large;
  color: #333;
  border-bottom: 2px solid #333;
}
.navSubLink {
  display: block;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 20px;
  font-size: medium;
  color: cadetblue;
}
.logo {
  width: 150px;
}
