.production {
  font-size: 18px;
  color: #333;
}

/* .link {
  padding: 16px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
} */

.active {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.inactive {
  color: var(--primary-color);
}

.inactive:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* .link:hover {
  color: gray;
  border-color: teal;
} */

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar {
  margin-bottom: 2rem; /* mb-4 */
  display: flex;
  width: 100%;
  gap: 1rem; /* gap-4 */
  overflow: auto; /* overflow-auto */
  font-size: 1.25rem; /* text-xl */
  font-weight: bold;
}

/* .scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: #999;
} */
