.container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  border: 2px solid var(--primary-color);
}

.headerCell {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.cell {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.row {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.row:hover {
  background-color: #f9f9f9;
}

.loaderWrapper {
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderCell {
  height: 200px;
  text-align: center;
  vertical-align: middle;
}
