@import "../node_modules/reset-css/";

body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-weight: 400;
}
h2 {
  font-size: x-large;
  text-align: center;
}
.button {
  min-width: 120px;
  border: none;
  background-color: #34a40f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.button:hover {
  background-color: #1e7a0a;
  transition: all 0.5s ease;
}
:root {
  --primary-color: #333333;
  --accent-color: #2e7d32;
}
